bazel-bin
bazel-mostly-sane-bazel-starter-kit
bazel-genfiles
bazel-out
bazel-testlogs
bazel-bin/*
bazel-mostly-sane-bazel-starter-kit/*
bazel-genfiles/*
bazel-out/*
bazel-testlogs/*

*.jpg
*.png
*.sh
*.pyc
*.swp
*.swn
*.swo
